<div class="PageFAQ mt-80 mt-xs-40">
    {% if section.settings.title != blank %}
      <div class="block-faq text-center">
        <div class="title_block">
          <span>{{ section.settings.title | escape }}</span>
          {% if section.settings.subheading != blank %}
          <span class="sub_title">{{ section.settings.subheading | escape }}</span>
          {% endif %}
        </div>
      </div>
    {% endif %}
    <div class="faqPageWrapper">
        {% if section.blocks.size > 0 %}
      
            <div class="content">
              {% for block in section.blocks %}
                <details>
                  <summary>{{ block.settings.item_title }}</summary>
                  <div class="faq__content">
                    {{ block.settings.item_content }}
                  </div>
                </details>
              {% endfor %}
            </div>
      
      		{% comment %}
            <div id="Accordion" role="tablist">
                {% for block in section.blocks %}
                    <div class="faqs-main d-flex">
                        <div class="panel-number">{{ forloop.index }}</div>
                        <div class="panel-group">
                            <div class="panel-header collapsed" data-toggle="collapse" href="#Item-{{ forloop.index }}" aria-expanded="false" aria-controls="#Item-{{ forloop.index }}">
                                {{ block.settings.item_title }}
                            </div>
                            <div class="panel-body">
                                <div id="Item-{{ forloop.index }}" data-parent="#Accordion" class="collapse">
                                    <div class="item-content">
                                        {{ block.settings.item_content }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
      		{% endcomment %}
        {% endif %}
    </div>
</div>
{% schema %}
{
    "name": "vinova page TOS",
    "class": "index-section page-faqs",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading"
        },
        {
            "type": "text",
            "id": "subheading",
            "label": "Sub heading"
        }
    ],
    "blocks": [
        {
            "type": "faq",
            "name": "TOS Item",
            "settings": [
                {
                    "type": "text",
                    "id": "item_title",
                    "label": "Item title"
                },
                {
                    "type": "textarea",
                    "id": "item_content",
                    "label": "Item content"
                }
            ]
        }
    ]
}
{% endschema %}